body {
  font-family: "Ubuntu", sans-serif;
  color: #f9f8f7;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 16px;
  margin: 0 0 0 5px;
}
h1 {
  font-size: 85px;
}
p {
  font-size: 16px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.day {
  margin: 0 0 0 10px;
}
.temperature {
  font-size: 85px;
}
.name {
  color: black;
  font-size: 12px;
}
.main-icon {
  width: 160px;
  margin: -42px -14px;
  padding: 0px;
  position: relative;
  z-index: 1;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.card-body {
  padding: 2px;
  background-color: transparent;
}
.card {
  background-color: transparent;
}
.card-text {
  font-size: 16px;
  margin: 2px;
}
.col-2 {
  padding: 0px 10px;
}
.col-sm-2 {
  padding: 0px 5px;
}
.row {
  margin-top: 2px;
  margin-bottom: 5px;
}
.source-code-link {
  display: block;
  margin: 0px;
  font-size: 12px;
  padding: 0 0 0 30px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 60px;
}
.container-body {
  margin: 0 auto;
  width: 600px;
  padding: 30px;
}
.weather-app-body {
  background-image: url("images/Earthwallpaper.jpg");
  opacity: 0.9;
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 50px;
}

.earth {
  width: 500px;
}

.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.temp-description {
  margin-top: 5px;
  line-height: 32px;
}

.sunrise-sunset {
  padding: 0 0 0 5px;
}

.sunrise-icon,
.sunset-icon {
  width: 50px;
}

.temp-min {
  color: #c1bfbf;
}

.hourly-temp {
  margin-top: 7px;
}
.weekly-temp-icon {
  width: 50px;
  margin: 0 0 2px 0;
}

.hourly-icon {
  width: 50px;
  margin: 0px auto;
}

.temperature-wrapper {
  position: relative;
  z-index: 10;
}
