body {
  font-family: "Ubuntu", sans-serif;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 16px;
}
h1 {
  font-size: 85px;
}
p {
  font-size: 16px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.temperature {
  font-size: 85px;
}
.main-icon {
  width: 160px;
  margin: -25px;
  padding: 0px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.card-body {
  padding: 2px;
}
.card-text {
  font-size: 11px;
  margin: 2px;
}
.col-sm-2 {
  padding: 0px 5px;
}
.row {
  margin-top: 2px;
  margin-bottom: 5px;
}
.source-code-link {
  display: block;
  margin: 0px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 60px;
}
.container-body {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
}
.weather-app-body {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 50px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.temp-description {
  margin-top: 5px;
  line-height: 32px;
}

.sunrise-icon,
.sunset-icon {
  width: 60px;
}
.hourly-temp {
  margin-top: 7px;
}
.weekly-temp-icon {
  width: 50px;
  margin: 0 0 2px 0;
}
